<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BUTTON</title>
    <link rel="stylesheet" href="../common/meng.css">
</head>
<body>

<div>
    <div class="form-group">
        <label>按钮：</label>
        <div class="form-cell inline">
            <button class="primary">OK</button>
            <button class="success">OK</button>
            <button class="danger">OK</button>
            <button class="warn">OK</button>
            <button class="info">OK</button>
            <button class="default">OK</button>
            <button class="disabled">OK</button>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>按钮：</label>
        <div class="form-cell inline">
            <div class="btn-group">
                <button class="primary">OK</button>
                <button class="success">OK</button>
                <button class="danger">OK</button>
                <button class="warn">OK</button>
                <button class="info">OK</button>
                <button class="default">OK</button>
                <button class="disabled">OK</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="form-group">
        <label>按钮：</label>
        <div class="form-cell inline">
            <button class="plain primary">OK</button>
            <button class="plain success">OK</button>
            <button class="plain danger">OK</button>
            <button class="plain warn">OK</button>
            <button class="plain info">OK</button>
            <button class="plain default">OK</button>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>按钮：</label>
        <div class="form-cell inline">
            <a class="btn primary">OK</a>
            <a class="btn success">OK</a>
            <a class="btn danger">OK</a>
            <a class="btn warn">OK</a>
            <a class="btn info">OK</a>
            <a class="btn default">OK</a>
            <a class="btn disabled">OK</a>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>按钮：</label>
        <div class="form-cell inline">
            <a class="btn plain primary">OK</a>
            <a class="btn plain success">OK</a>
            <a class="btn plain danger">OK</a>
            <a class="btn plain warn">OK</a>
            <a class="btn plain info">OK</a>
            <a class="btn plain default">OK</a>
        </div>
    </div>
</div>
</body>
</html>