<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHECKBOX</title>
    <link rel="stylesheet" href="../common/meng.css">
</head>
<body>

<div>
    <div class="form-group">
        <label>复选：</label>
        <div class="form-cell inline">
            <input class="checkbox" type="checkbox">
            <label for="checkbox">选中</label>
        </div>

        <div class="form-cell inline">
            <input class="checkbox" type="checkbox" id="checkbox" name="checkbox"/>
            <label for="checkbox">选中</label>
        </div>

        <div class="form-cell inline">
            <input class="checkbox" type="checkbox" disabled>
            <label>选中</label>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>开关：</label>
        <div class="form-cell inline">
            <input class="switch" type="checkbox" name="switch">
            <div>
                <i class="switch-on">ON</i>
                <i class="switch-off">OFF</i>
            </div>
        </div>
    </div>
</div>

</body>
</html>