<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INPUT</title>
    <link rel="stylesheet" href="../common/meng.css">
</head>
<body>


<div class="">
    <div>
        <div class="form-group">
            <div class="form-cell">

                <input class="input" type="text" placeholder="输入文本">

            </div>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <div class="form-cell">
            <textarea class="textarea" placeholder="输入文本"></textarea>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>输入框：</label>
        <div class="form-cell">
            <input class="input" type="text" placeholder="输入文本">
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <label>输入框：</label>
        <div class="form-cell">
            <textarea class="textarea" placeholder="输入文本"></textarea>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <div class="form-cell">
            <div class="input-prefix">
                <span>PREFIX</span>
            </div>
            <input class="input" type="text" placeholder="输入文本">
            <div class="input-suffix">
                <span>SUFFIX</span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="form-group">
        <div class="form-cell">
            <div class="input-prefix input-split">
                <span>PREFIX</span>
            </div>
            <input class="input" type="text" placeholder="输入文本">
            <div class="input-suffix input-split">
                <span>SUFFIX</span>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col6">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col6">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col6">
        <div class="form-group">
            <label>向右对齐：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col6">
        <div class="form-group">
            <label>向右对齐：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col4">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col4">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col4">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col3">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col3">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col3">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
    <div class="col3">
        <div class="form-group">
            <label>输入框：</label>
            <div class="form-cell">
                <input class="input" type="text" placeholder="输入文本">
            </div>
        </div>
    </div>
</div>

</body>
</html>