<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RADIO</title>
    <link rel="stylesheet" href="../common/meng.css">
</head>
<body>
<div>
    <div class="form-group">
        <label>单选：</label>
        <div class="form-cell inline">
            <input class="radio" type="radio" name="radio">
            <label>选中</label>
        </div>
        <div class="form-cell inline">
            <input class="radio" type="radio" name="radio">
            <label>选中</label>
        </div>
        <div class="form-cell inline">
            <input class="radio" type="radio" name="radio" disabled>
            <label>选中</label>
        </div>
    </div>
</div>

</body>
</html>