<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SELECT</title>
    <link rel="stylesheet" href="../common/meng.css">
</head>
<body>

<div class="row">
    <div class="form-group">
        <label>选择框</label>
        <div class="form-cell">
            <select name="method" class="select">
                <option value="1">A</option>
                <option value="2" selected>B</option>
                <option value="3">C</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label>选择框</label>
        <div class="form-cell">
            <select name="fruit" class="select">
                <option value="1">苹果</option>
                <option value="2">香蕉</option>
                <option value="3" selected>橘子</option>
            </select>
        </div>
    </div>
</div>

<script src="../common/meng.js"></script>
</body>
</html>
